PORT=5000
CLIENT_URL=http://localhost:3000
MONGODB_URI=your_mongodb_connection_string_here
JWT_SECRET=your_jwt_secret_here
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=your_admin_password_here
AI_API_KEY=your_ai_api_key_here
MAX_PDF_SIZE_MB=25
NODE_ENV=development 